/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require skeleton
 *= require_tree .
 *= require_self
 */

.link {
  color: #000;
}

.homeImage {
  width: 100%;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}



.login {
  border: 1px solid #eee;
  border-radius: 5px;
  padding-top: 40px;
  width: 400px;
  margin: 0 auto;
}



#user_nav {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  /*margin-right: 35px;*/
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
  /*position: relative;
  top: 20px;
  left:40px;*/
}




* {
  text-align: center;
}


.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  position: relative;
  float: right;
  margin-bottom: 0;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}
.navbar, .navbar-spacer {
  display: block;
  width: 100%;
  /*height: 6.5rem;*/
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.navbar-brand
{
  float: left;
  padding-top: 20px;
  color: black;
  font-size: 20px;
  text-decoration:none;
}

.welcome{
  padding-top: 40px;
}

body {
  background-color: #20B2AA;
}






ul.nav {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}
ul.nav li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  /*background: #fff;*/
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul.nav li:hover {
  /*background: #555;*/
  /*color: #fff;*/
}
ul.nav li ul.nav {
  padding: 0;
  position: absolute;
  top: 80px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -transition: opacity 0.1s;
}
ul.nav li ul.nav li {
  background: #3CB371;
  display: block;
  /*color: #fff;*/
  text-shadow: 0 -1px 0 #000;
  font-size: 20px;
  margin-bottom: 0px;
}
/*ul.nav li ul.nav li:hover { background: #666; }*/
ul.nav li:hover ul.nav {
  display: block;
  opacity: 1;
  visibility: visible;
}
