body {
  background-color: rgb(23, 174, 200);
  color: #fff;
}

#nav {
  background-color: rgb(21, 160, 184);
}

#name {
  color: rgb(254, 186, 8);
  font-size: 28px;
}

.glyphicon {
  color: #fff;
  font-size: 28px;
}

#greeting {
  margin-top: 80px;
}

#columns {
  margin-top: 20px;
}


input {
  color: black;
}
